@font-face {
  font-family: an-font;
  src: url(fonts/Plaguard-ZVnjx.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#countdown{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#time{
  font-size: 200px;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: auto;
  background-color: #E7E9EB;
  overflow:hidden;
}
#header {
  transform: translateX(200%);
  transition: all 1s;
  margin: 20px 30px;
}
#header nav {
  width: 100%;
  height: auto;
}

#header nav ul {
  display: flex;
  list-style: none;
}

#header nav ul li {
  width: 10%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header nav ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding-right: 10px;
}

#header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

#header nav ul li a:hover::after {
  width: 100%;
}

#home{
  transform: translateX(-200%);
  transition: all 1s;
}

#home,
#skills {
  transform: translateX(200%);
  text-align: center;
  padding-top: 50px;
  /* border-bottom: 1px solid black; */
  
}

#skills {
  width: 100%;
  height: 80%;
  background-color: white;
  box-shadow: 0px 0px 10px 5px #909090;
  transition: all 1s;
}
#projects {
  transform: translateX(-200%);
  text-align: center;
  margin: 100px 0;
  padding: 50px 0;
  background-color: white;
  box-shadow: 0px 0px 10px 5px #909090;
  transition: all 1s;
}

h1 {
  font-family: an-font;
  letter-spacing: 10px;
  font-size: 70px;
  text-align: center;
}

.content {
  margin: 0 30px;
}

.information-container {
  display: flex;
  width: 100%;
  margin: 50px 0 100px 0;
  box-shadow: 0px 10px 10px 5px #909090;
  background-color: #171C26;
}

.profile-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  color: white;
  background-color: #171C26;
}

.profile-img {
  margin: 0 50px;
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  background-color: #20262F;
}

.intro {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  padding: 20px 0;
}

.profile-img img {
  width: 300px;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-info ul li {
  font-size: 18px;
  line-height: 80px;
  text-align: left;
  letter-spacing: 1px;
}

.profile-info ul li span {
  font-weight: bold;
  letter-spacing: 1px;
}
.quotes {
  font-size: 16px;
  line-height: 50px;
  font-style: italic;
  text-align: left;
  letter-spacing: 1px;
}

.sub-info ul {
  list-style-type: "- ";
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 50px 20px; */
  padding: 50px 20px;
}

.skill img {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-color: none;
}

.project {
  width: 300px;
  height: 300px;
}

.project-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.project-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content img {
  width: 300px;
  height: 300px;
}

.description {
  position: absolute;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.25s;
}

.description > * {
  transform: translateY(20px);
  transition: 0.25s;
}

.description:hover {
  opacity: 1;
  transition: all 0.25s ease;
}

.description:hover > * {
  transform: translateY(0);
}

.description a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.description a:hover {
  color: rgb(226, 32, 32);
  transition: all 0.3s ease;
}

.footer {
  transform: translateX(200%);
  padding: 50px 30px;
  width: 100%;
  background-color: #D7D7D7;
  transition: all 1s;
}

.contact-container {
  display: flex;
}

.contact-info,
.contact-form {
  width: 100%;
  line-height: 50px;
  letter-spacing: 1px;
}

.contact-info ul {
  list-style-type: "- ";
  margin: 0 20px;
}

.contact-info ul li {
  letter-spacing: 1px;
}

.contact-info ul li span {
  font-weight: 700;
  letter-spacing: 1px;
}

.contact-info ul li a {
  color: blue;
  letter-spacing: 1px;
}

.contact-form input {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  outline: none;
  letter-spacing: 1px;
  border: none;
}

.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  outline: none;
  resize: none;
  letter-spacing: 1px;
  border: none;
}

.contact-form input:focus, .contact-form textarea:focus{
    border: 2px solid #20262F;
}

.button {
  display: flex;
  justify-content: space-between;
}

.button input {
  width: 45%;
  font-family: "Roboto", sans-serif;
}

.button input:active{
    opacity: 0.7;
    transition: 0.3s;
}
.footer p {
  margin: 20px 0;
}

.checked {
  color: orange;
}

.start-rate-container {
  transform: translateY(-100%);
  visibility: hidden;
  transition-duration: 0.25s;
}

.skill:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.skill:hover .start-rate-container {
  /* display: block; */
  visibility: visible;
  transform: translateY(0);
  transition-duration: 0.5s;
}

.intro h3 {
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 800;
  color: white;
}

.intro span {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

#scroll-to-top {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #20262F;
  box-shadow: 0 0 10px black;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
}

#clear {
  border: none;
  background: none;
  background-color: rgb(181, 34, 34);
  color: white;
  cursor: pointer;
}

#send {
  border: none;
  background: none;
  background-color: rgb(32, 32, 182);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  #skills {
    height: 90vh;
  }
}

@media only screen and (max-width: 900px) {
    #skills {
        height: 80%;
      }
    #header nav ul li{
        width: 20%;
    }
  .information-container {
    flex-direction: column;
  }

  .profile-img {
    margin: 50px 0;
    padding-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
  }

  .profile-img img {
    width: 200px;
    height: 200px;
  }

  .profile-info {
    padding: 20px 30px;
    padding-top: 0;
  }

  .profile-info ul li {
    font-size: 18px;
    line-height: 80px;
    text-align: left;
  }

  .intro h3 {
    font-size: 24px;
    font-weight: 800;
  }

  .intro span {
    font-size: 18px;
    font-weight: 500;
  }
  .contact-container{
    flex-direction: column;
    word-wrap: break-word;
}
}

@media only screen and (max-width: 640px) {
  #skills {
    height: 80%;
  }

  h1 {
    font-size: 50px;
  }

  .profile-img img {
    width: 150px;
    height: 150px;
  }

  #header nav ul li {
    width: 30%;
  }

  #header nav ul li a{
      font-size: 14px;
  }
  .profile-info ul li {
    font-size: 16px;
    line-height: 80px;
    text-align: left;
  }

  .intro h3 {
    font-size: 22px;
    font-weight: 800;
  }

  .intro span {
    font-size: 16px;
    font-weight: 500;
  }
  .skill{
   width: 100%;
    }
    h1{
        font-size: 24px;
    }
    .project img{
        width: 200px;
        height: 200px;
    }
    .description{
        width: 200px;
        height: 200px;
    }

    .contact-container{
        flex-direction: column;
        word-wrap: break-word;
    }
}

.fa-star{
    color: none;
}
.skill{
    margin: 30px 0;
}